// COLORS
$primary: #212b57;
$gray: #7b7b7b;
$gray2: #6e6d6d;
$bg-secondary: #f3f2f7;
$light: #e3e3e3;
$light-bg: #f5f5f8;
$error: #c9403f;
$success: #006009;
$red: #c70000;
$gray-input: #b9b8ba;
$green: #87c93f;
$text: #393939;

//TRANSITIONS
$duration: 0.3s;

$brown: #4e3332;
$darkbrown: #3e1815;
$grey: #727272;
