<div class="cookies">
    <div class="row">
        <div class="large-12 columns">
            <div class="cookies-content">
              <img src="../images/cookie.svg" alt="">
                <p>This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies.
                  <a href="#">Find out more.</a>
                </p>
                <button type="button" class="btn btn-small">Accept</button>
            </div>
        </div>
    </div>
</div>
