<div class="cookies">
    <div class="row">
        <div class="large-12 columns">
            <div class="cookies-content">
                <img src="images/ciastko.svg" alt="Ciastko">
                <p>Ta strona wykorzystuje pliki cookies w celach statystycznych i reklamowych oraz w celu dostosowania naszych serwisów do indywidualnych potrzeb klientów.<br />
                    Zmiany ustawień dotyczących plików cookie można dokonać w dowolnej chwili modyfikując ustawienia przeglądarki. <a href="#">Polityka prywatności</a>
                </p>
                <button type="button" class="btn btn-small">Zaakceptuj</button>
            </div>
        </div>
    </div>
</div>
