<svg width="0" height="0" class="hidden">
    <symbol viewBox="0 0 48 48" id="ciastko">
        <title>ciastko</title>
        <g fill="none">
            <circle fill="#FDD1B0" cx="30" cy="28" r="4"></circle>
            <circle fill="#FDD1B0" cx="18" cy="25" r="2"></circle>
            <path d="M23.446 43.129a6.5 6.5 0 0 0-12.153-4.567c-.19.612 11.144 6.847 12.153 4.567zM11 19a5 5 0 0 0 2.568-9.291c-.75-.45-7.162 6.547-6.484 7.4A4.99 4.99 0 0 0 11 19z" fill="#FDD1B0"></path>
            <path d="M15.316 9.831a6 6 0 0 1-8.095 8.83A16.953 16.953 0 0 0 6 25c0 4.653 1.87 8.869 4.897 11.938a7.5 7.5 0 0 1 13.972 4.96C33.38 40.968 40 33.757 40 25c0-.26-.006-.52-.017-.778a4.322 4.322 0 0 1-2.522-1.558 5.668 5.668 0 0 1-6.913-4.632 5.668 5.668 0 0 1-4.632-6.913 4.325 4.325 0 0 1-1.637-3.071A17.255 17.255 0 0 0 23.001 8c-2.765 0-5.376.66-7.684 1.831zm-1.8 1.059a17.084 17.084 0 0 0-5.397 5.885 4 4 0 1 0 5.397-5.885zm9.278 31.109a5.5 5.5 0 0 0-10.348-3.671 16.925 16.925 0 0 0 10.348 3.67zm3.508-34.682a2.33 2.33 0 0 0 1.247 2.484l.818.413-.34.851A3.67 3.67 0 0 0 31.47 16.1l1.02-.01-.01 1.02a3.67 3.67 0 0 0 5.035 3.443l.85-.34.414.818c.111.219.256.42.434.598a2.325 2.325 0 0 0 1.692.683l.927-.016.086.923c.054.59.082 1.184.082 1.781 0 10.493-8.507 19-19 19S4 35.493 4 25 12.507 6 23 6c.822 0 1.638.052 2.444.156l1.035.133-.177 1.028zm-3.51 7.476a1 1 0 0 1 1.415 1.414l-2 2a1 1 0 0 1-1.414-1.414l2-2zM30 33a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-2.5 5.5l2 1-2-1zm4.553-23.106a1 1 0 0 1 .894-1.788l2 1a1 1 0 0 1-.894 1.788l-2-1zM18 28a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9.207 2.207a1 1 0 0 1 1.414-1.414l2 2a1 1 0 0 1-1.414 1.414l-2-2zM44.809 9.77c1.52 1.584-.742 5.903-2.998 6.185-2.252.281-5.643-3.268-4.606-5.213.922-1.728 6.256-2.376 7.604-.972zm-3.246 4.2c.77-.096 2.056-2.551 1.803-2.815-.417-.434-4.123.015-4.396.528-.177.33 1.79 2.388 2.593 2.287zm-6.761-5.116c-1.766.562-3.276-2.497-2.665-4.052.603-1.539 3.853-2.587 4.679-1.01.64 1.224-.646 4.627-2.014 5.062zm0-3.756c-.43.138-.783.381-.804.434-.033.084.051.55.26.973.026.054.053.104.08.151a5 5 0 0 0 .366-.78c.108-.285.193-.572.244-.82a2.54 2.54 0 0 0-.146.042z"
                  fill="#4E3332"></path>
        </g>
    </symbol>
</svg>
