body {
  width: 100%;
  max-width: 100vw;
  font-size: 14px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-repeat: no-repeat;
}
